@import "../variables.scss";
.article {
  display: grid;
  gap: 70px;
  grid-template-columns: $tutorial-content-table-width minmax(0px, 1fr) $tutorial-sidebar-width;
  margin: 0px auto;
  max-width: 1800px;
  padding: 0px 24px;

  @media (max-width: $tutorial-breakpoint-1) {
    grid-template-columns: $tutorial-content-table-width 1fr;
  }

  @media (max-width: $tutorial-breakpoint-2) {
    grid-template-columns: 1fr;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    gap: 10px 0px;

    h1 {
    }
    img {
      width: min(100%, 750px);
      height: auto;
      aspect-ratio: 15/7;
    }
  }

  .tutorialContent {
    min-width: 0;
  }
}
