button {
  border: 2px solid rgba(95, 95, 95, 0.5);
  background-color: transparent;
  height: 30px;
  padding: 5px 5px 5px 5px;
  color: var(--color-font);
  border-radius: 3px;
  outline: none;
  transition: all 50ms linear;
  cursor: pointer;

  &::placeholder {
    font-weight: bold;
  }

  &:hover {
    border-color: var(--color-accent);
  }

  &.error {
    border-color: var(--color-error);
  }
  &.success {
    border-color: var(--color-success);
  }

  &.warning {
    border-color: var(--color-warning);
  }

  &.info {
    border-color: var(--color-info);
  }
}
