@import "variables.scss";
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $color-background-body;
	color: $color-font;
}

p,
a {
	letter-spacing: 1px;
	&:visited {
		color: $color-font;
	}
}

a {
	font-weight: bold;
	text-decoration: none;
	color: $color-font-link;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		text-decoration: none;
		color: $color-font-link;
	}
}
