.tutorialContentTable {
	@media (max-width: var(--tutorial-breakpoint-2)) {
		display: none;
	}
	.stickyContainer {
		position: sticky;
		top: var(--tutorial-grid-sticky-top);

		.list {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			margin-bottom: 16px;
			padding-bottom: 16px;
			row-gap: 10px;
		}

		.adContainer {
			background-color: #ff00003e;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}
}
