@import "variables.scss";

.tutorialContent {
	max-width: 100%;

	.head {
	}

	.markdown {
		padding: 0 10px 0 10px;
		color: $md-color-font;
		list-style: inside;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $md-color-headline;
		}
		hr {
			border: 1px solid $md-color-hr;
		}
		img {
			max-width: 100%;
		}
	}
}
