@import "variables.scss";
.tutorial {
	display: grid;
	gap: 70px;
	grid-template-columns: 200px minmax(0px, 1fr) 200px;
	margin: 0px auto;
	max-width: 1800px;
	padding: 0px 24px;

	.tutorialContent {
		max-width: 100%;

		.markdown {
			padding: 0 10px 0 10px;
			color: $md-color-font;
			list-style: inside;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: $md-color-headline;
			}
			hr {
				border: 1px solid $md-color-hr;
			}
			img {
				max-width: 100%;
			}
			p {
				margin-top: 1em;
				line-height: 1.5;
			}
		}
	}
}
