// This file stores all SCSS variables in one place to simplify the use of variables throughout the project.

/* Typography */
$font-size-default: 1em;
$font-size-headline-step: 0.12em;
$font-letter-spacing-default: 1px;
$font-letter-spacing-headline-large: 2px;
$font-letter-spacing-headline-medium: 1.5px;
$font-letter-spacing-headline-small: 1.25px;

/* Tutorial Page */
$tutorial-grid-sticky-top: 60px;
$tutorial-content-table-width: 200px;
$tutorial-sidebar-width: 200px;

$tutorial-breakpoint-1: 1200px;
$tutorial-breakpoint-2: 1000px;
$tutorial-breakpoint-3: 700px;

/* Footer */
$footer-ad-container-width: 920px;
$footer-ad-container-height: 90px;

$footer-breakpoint-1: 1270px;
$footer-breakpoint-2: 950px;
$footer-breakpoint-3: 800px;
$footer-breakpoint-4: 440px;

/* Nav */
$nav-height-inital: 60px;
$nav-breakpoint-1: 1040px;
$nav-breakpoint-2: 820px;
$nav-breakpoint-3: 500px;
$nav-breakpoint-4: 400px;

/* CategoryList */
$categoryList-breakpoint-1: 850px;
$categoryList-breakpoint-2: 600px;

/* Category */
$category-breakpoint-1: 800px;
$category-breakpoint-2: 550px;
